

.header {
  height: 95vh;
  background: linear-gradient(
    to right bottom,
    rgba(242, 196, 206, 0.357),
    rgba(245, 142, 124, 0.355)
  );
/* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
  position: relative;

}
.bg-image{
  position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
width: 100%;
display: flex;
justify-content: center;
align-items: bottom;

}
.bg-image img{
opacity: 0.7;
object-fit: cover;
object-position: center bottom;
width: 100%;
animation: myAnim 9s ease-in 0s infinite alternate ;
}
.title{
  position: absolute;
  top: 40%;
  left:0 ;
  right:0 ;
  margin:0 auto;
  color: #fff;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-style: italic;
 line-height: 1.6;
 letter-spacing: 2px;
 text-align: center;
 font-weight: 700;
}
@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}

}
/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .bg-image{
   
  align-items: center;
  
  }
 }