// variables defined in index.css
// --dark: #2c2b30;
// --gray: #4f4f51;
// --light-blue: #d6d6d6;
// --light-purple: #f2c4ce;
// --light-pink: #f58f7c;
// --bg-hover-color: #f58e7c91;
// --hover-color: #fff;
$dark: #2c2b30;
$gray: #4f4f51;
$light-blue: #d6d6d6;
$light-purple: #f2c4ce;
$light-pink: #f58f7c;
$bg-hover-color: #f58e7c91;
$hover-color: #fff;
$color-white: #fff;
$color-black: #000;

body {
 font-family: "Lato", Helvetica, Arial, sans-serif;
}

.btn-custom {
 &:link,
 &:visited {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  border: unset;
 }
 &::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $light-pink;
  transition: all 0.5s;
 }
 &:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 1rem 2rem rgba($color-black, 0.2);
  &::after {
   transform: scaleX(1.4) scaleY(1.6);
   opacity: 0;
  }
 }

 &--pink {
  background-color: $light-pink;
  color: $color-white;
  &::after {
   background-color: $light-pink;
  }
 }
 &--purple {
  background-color: $light-purple;
  color: $gray;
  &::after {
   background-color: $light-purple;
  }
 }
}
.btn.btn-pink {
 background-color: $light-pink;
 color: white;
 transition: all 0.4s;
 &:hover {
  background-color: $light-purple;
  color: white;
 }
}
.loading {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.515);
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2000;
}

@keyframes myAnim {
 0% {
  background-position: center bottom;
  background-size: 100%;
 }

 100% {
  background-position: center bottom;
  background-size: 150%;
 }
}
.form-select {
 padding: 0.25rem 0.75rem;
 font-size: 0.9rem;
 border-radius: unset;
 &:focus {
  border-color: $light-purple;
  outline: 0;
  box-shadow: 0 0 0 0.1rem $light-purple;
 }
}

#search-bar {
 &.form-control {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: unset;
  &:focus {
   background-color: var(--bs-body-bg);
   border-color: $light-purple;
   box-shadow: 0 0 0 0.1rem $light-purple;
  }
 }
}
.text-pink {
 color: $light-pink;
}
.vertical-align-top {
 vertical-align: top;
}
