/*-------------------------Colors------------------------*/

:root {
 --dark: #2c2b30;
 --gray: #4f4f51;
 --light-blue: #d6d6d6;
 --light-purple: #f2c4ce;
 --light-pink: #f58f7c;
 --bg-hover-color: #f58e7c91;
 --hover-color: #fff;

}
